<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="FampayTestAutomation">
    <parameter name="os" value="${os}"/>
    <listeners>
        <listener class-name="UITestFramework.listener.TestListener"/>
        <!-- uncomment RetryListener to enable retries. update the maxRetryCount value in the Retry class-->
        <!--<listener class-name="UITestFramework.listener.retryListener"/>-->
    </listeners>
    <test name="automation-tests">
        <packages>
            <package name="tests.testngTests"/>
        </packages>
    </test>
</suite>

